body {
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    color:  #434455;
    background-color: #ffff;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.logo {
font-family: "Raleway", sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
}

.logo-studio {
    color: #2e2f42;
}

.navigator-list {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
}

a:hover, 
a:focus                                        
{
    color: #404BBF;
}


.adresa {
    font-style: normal;
}

.adresa-list {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455
}

.features {
    color: #2e2f42;
    width: 1158px; 
    padding: 0 15px; 
    margin: 0 auto;
 
}

.title-main {
padding-top: 188px;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
color: #ffffff;
max-width: 496px;
}

.title-main-section {
    display: flex;
    flex-direction: column ;
    align-items: center;
    height: 600px;
    width: auto;
    background-color: #2E2F42;
    margin-bottom: 120px;
    
}

.btn-title {
cursor: pointer;
background-color: #4D5AE5;
border-radius: 4px;
border: none;
padding: 16px 32px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
font-family: "Roboto", sans-serif;  
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff
}

.btn-title:hover,
.btn-title:focus                                            
{
    background-color: #404BBF;
}

.title-features {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
margin-bottom: 8px;
}

.text-features {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;

}

.titles {
text-transform: capitalize;
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
}

.team {
    background-color: #F4F4FD;
}

.team-back {
    background-color: #FFFFFF;
}

.name-team {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
}

.about-team {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #434455;
}

.title-portfolio {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}

.portfolio-title {
text-transform: capitalize;
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
}

.about-portfolio {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

.visually-hidden {

margin: -1px;

white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}

.page-footer {
    background-color:  #2e2f42;
}

.logo-studio-footer {
    color: #f4f4fd;
}

.header-navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    margin-left: 156px;
   
}

.header-menu-list {
display: flex;
gap: 40px;
margin-right: auto;
}

.header-social-list {
    display: flex;
    gap: 40px;
    margin-right: 156px;
}

img {
    display: block;
     max-width: 100%;
      height: auto;
}

.header-container {
    display: flex;
    align-items: center;
    
}

.features-list {
    display: flex;
    gap: 24px;
    justify-content: center;

}

.features-item {
    width: calc((100% - 3 * 264px) / 4);
}