body {
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    color:  #434455;
    background-color: #ffff;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.logo {
font-family: "Raleway", sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5
}

.logo-studio {
    color: #2e2f42;
}

.navigator-list {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
}

a:hover, 
a:focus                                        
{
    color: #404BBF;
}


.adresa {
    font-style: normal;
}

.adresa-list {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455
}

.features {
    color: #2e2f42;
}

.title-main {
background-color: #2E2F42;
font-weight: 700;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
color: #ffffff;
}

.btn-title {
cursor: pointer;
background-color: #4D5AE5;
font-family: "Roboto", sans-serif;  
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff
}

.btn-title:hover,
.btn-title:focus                                            
{
    background-color: #404BBF;
}

.title-features {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
}

.text-features {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.titles {
text-transform: capitalize;
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
}

.team {
    background-color: #F4F4FD;
}

.team-back {
    background-color: #FFFFFF;
}

.name-team {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
}

.about-team {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #434455;
}

.title-portfolio {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}

.portfolio-title {
text-transform: capitalize;
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
}

.about-portfolio {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

.visually-hidden {

margin: -1px;

white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}

.page-footer {
    background-color:  #2e2f42;
}

.logo-studio-footer {
    color: #f4f4fd;
}